.login-page{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
label{
  margin:0 15px;
}
input{display: flex;
  flex-direction: column;
  padding: 5px 10px;
margin: 5px;
}
.login-page
button{
  margin: 15px 5px;
}
